/* Signup.css */
.signup-container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.signup-option {
    font-size: 2rem;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s ease;
}

.signup-option .arrow {
    display: inline-block;
    margin-left: 5px;
}

.signup-option .underline {
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.signup-option:hover {
    color: #ff8000; /* Hover color */
}

.signup-or {
    font-size: 1.5rem;
    margin: 10px 0;
}
